@font-face {
  font-family: jetbrains_mono_regular;
  src: url('../fonts/JetBrainsMono-Regular.ttf');
}

@font-face {
  font-family: jetbrains_mono_bold;
  src: url('../fonts/JetBrainsMono-Bold.ttf');
}

@font-face {
  font-family: opensans_regular;
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face  {
  font-family: jetbrains_mono_semilight_italic;
  src: url(../fonts/JetBrainsMono-SemiLight-Italic.ttf);
}

body {
  background: #fff;
}

header {
  margin: 10px 0px;
  padding: 0px 30px;
}

header h1 {
  font-family: jetbrains_mono_bold;
  color: #1d3557;
}

header h1 .title-underscore {
  color: #fca311;
}

header h4 {
  margin: -20px 0px;
  font-family: jetbrains_mono_regular;
  font-weight: 100;
  font-size: 16px;
  color: #8d99ae;
}

header nav {
  margin: 25px 0px;
  font-family: jetbrains_mono_regular;
  font-weight: 800;
  text-align: center;
}

header nav ul li {
  display: inline-block;
  padding: 0px 10px;
}

header nav ul li a:link, nav ul li a:visited {
  color: #d90429;
}

header nav ul li a:hover {
  color: #ef233c;
}

footer .copyright-info {
  font-family: jetbrains_mono_regular;
  color: #8d99ae;
  text-align: center;
  background: #4a4e69;
  padding: 10px 0px;
}

.footer-resources {
  font-size: 12px;
}

.footer-contact-card {
  margin: 10px auto;
}

.footer-contact-card li {
  display: block;
  line-height: 12px;
}
.footer-email, .footer-phone, .footer-location,
.footer-contact-card li a:link,
.footer-contact-card li a:visited {
  color: grey;
}

footer {
  border-top: 1px solid grey;
}

.pre-footer {
  padding: 20px;
}

.qr-code {
  width: 100%;
  padding: 20px 0px
}

.footer-resources, .footer-contact-card-container, .vnav-container {
  margin: 20px 0px;
}

.footer-contact-card-container {
  padding: 10px 0px;
}

.footer-resources a:link, .footer-resources a:visited, .vnav-container a:link, .vnav-container a:visited {
  color: unset;
}

.footer-name {
  font-size: 24px;
  font-weight: 900;
  color: darkcyan;
  font-family: jetbrains_mono_regular;
}

.footer-email, .footer-phone, .footer-location {
  font-size: 16px;
  font-family: jetbrains_mono_regular;
  font-weight: 600;
}

.footer-designation {
  font-family: jetbrains_mono_regular;
  color: darkcyan;
  font-size: 16px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-designation a:link, .footer-designation a:visited {
  color: darkcyan !important;
}

.footer-contact-card-container {
  text-align: left;
  border-right: 1px solid grey;
}

.vnav-container {
  text-align: left;
}

.vnav {
  margin-left: 5px;
  margin-bottom: 0px;
}

.vnav-title {
  font-family: jetbrains_mono_bold;
  margin-bottom: 15px;
}

.vnav li {
  display: block; 
  font-family: jetbrains_mono_regular;
  line-height: 15px;
}

.ascii-image {
  width: 450px;
  height: 520px;
  overflow: hidden;
}

.asciipic-container {
  text-align: right !important;
}

.index-row .intro-text {
  text-align: justify;
  padding-top: 60px;
  font-family: jetbrains_mono_semilight_italic;
}

section {
  height: 100%;
}

section.introduction-section {
  padding: 0px 30px;
}

section.projects-overview, section.blog-summary-section {
  padding: 30px;
  height: 100%;
}

section .section-title {
  display: block;
  font-family: jetbrains_mono_bold;
}

.project-info-card, .blog-summary-card {
  margin: 10px 5px !important;
  box-shadow: 1px 1px 1px 1px white;
  padding-right: none;
  border: none;
  height: 260px;
  overflow: hidden;
}

.project-info-card .card-title, .blog-summary-card .card-title {
  font-family: jetbrains_mono_bold; 
}

.project-info-card img, .blog-summary-card img {
  height: 100%;
  margin-bottom: 0px;
}

.project-info-card .card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.blog-summary-card .card-img-overlay {
  background: rgba(0, 0, 0, 0.6);
}

.project-info-card .card-text  {
  font-family: opensans_regular;
  font-size: 18px;
}

.blog-summary-card .card-text {
  font-family: opensans_regular;
  font-size: 14px;
}

a.read-more-link:link, a.read-more-link:visited {
  color: white;
  font-family: jetbrains_mono_bold;
}

.social-label {
  font-weight: 900;
  font-family: 'jetbrains_mono_bold';
  padding: 10px;
}

.social-handle {
  font-family: jetbrains_mono_semilight_italic;
}

.social-icon-container {
  display: block;
  margin: 15px 0px;
}
